*{
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --white: #EFF3FB;
    --offWhite: #A1ACF7;
    --blue: #462FDE;
    --purple: #5E009E;
    --pink: #A935DB;
    --black: #111;
  }

.header{
    padding: 100px 50px 25px 50px;
    color: var(--white);
    /* border: 20px solid white; */
    /* padding: 50px 0px 0 0px; */
    text-align: center;
}


/* Overall  */

@media (max-width: 400px) {
    h1{
        border: none;

    }
}

@media (min-width: 400px) {
    h1{
        border: 20px solid var(--white);

    }
}

@media (max-width: 768px) {
    .headLinks{
        text-align: center;
        padding: 15px;
        padding-top: 25px;
    }

    .topBlock{
        padding-top: 100px;

    }
}

@media (min-width: 768px) {
    .headLinks{
        text-align: center;
        padding: 15px;
        padding-top: 100px;
    }
}

.box{
    position: absolute;
}

.animate{
    position: relative;

}

#header{
    padding-left: 15px;

}

.display-3{
    overflow: hidden;
    font-family: 'Poiret One', sans-serif;
}

h1{
    margin: 20%;
    padding: 5%;
    text-align: center;

}

#break{
    background-color: var(--white);
    padding: 20px 0px;
    text-align: center;
    border-top: var(--black) solid 5px;
    /* border-bottom: #111 solid 5px; */
    box-shadow: 0px 10px 20px;
    margin-bottom: 50px;
}

.bodyText{
    text-align: center;
    margin: 20px 10px;

}

.dateText, .bodyText, .github, footer{
    font-family: 'Muli', sans-serif;

}

h5{
    font-family: 'Raleway', sans-serif;
}

.text{
    margin: 10px 25px;
}

h5{
    margin: 10px;
    font-family: 'Muli', cursive;
}

img{
    width: 100%;  
    max-width: 300px;
}

footer{
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.rounded-circle{
    border: var(--purple) solid 5px;
}

.profilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}

.aboutMeText{
    margin-right: 20px;
    margin-top: 20px;
}

.github{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.gitHubDuo{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headLinks{
    text-align: center;
    display: flex;

}

.gitHubDuo{
    font-size: 24px;
}

.github > a:hover, .gitHubDuo > a:hover, .headLinks > a:hover{
    background-color: var(--purple);
    color: var(--offWhite);
    transition: 0.5s;
}


.github > a, .gitHubDuo > a{
    text-decoration: none;
    border-top: var(--purple) solid 2px;
    cursor: pointer;
    padding: 22px;
    width: 100%;
    color: var(--black);

}

.headLinks > a{
    text-decoration: none;
    padding: 22px;
    width: 100%;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Muli', sans-serif;
    color: var(--black);
    background-color: var(--white);
    border: var(--white) solid 1px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img{
    width: 100px;
    padding: 30px 0px;
}





#bandCamp{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#bandCamp > a{
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

#bandCamp > a:hover{
    background-color: var(--purple);
    color: var(--offWhite);
    transition: 0.5s;
    
}

.generalBackground{
    animation: Projects 30s infinite;
    padding: 0px 0px;
}

.tabBackground{
    background-color: var(--white);
    width: 90%;
    margin: 5%;
    margin-top: 0px;
    box-shadow: 5px 5px 10px var(--black);
}

.shadowSpacing{
    padding-bottom: 10px;
}

h5{
    text-align: center;
    padding: 10px;
}

.gradientBackground{
    /* position: absolute; */
    padding-top: 85px;
    background-image: linear-gradient(90deg, var(--blue), var(--purple), var(--pink), var(--purple), var(--blue));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    /* background-position: 100% 100%; */

} 

.projectsBackground{
    padding-top: 85px;
    

} 

.audioBackground{
    padding-top: 85px;
    
    animation: Projects 30s infinite;

} 

.aboutBackground{
    padding-top: 85px;
    
    animation: Projects 30s infinite;

} 

@keyframes Projects {
	0% {
		background-color: var(--blue);
	}
	25% {
        background-color: var(--purple);
    }    
	50% {
        background-color: var(--pink);
    }    
    75% {
        background-color: var(--purple);
    }
    100% {
        background-color: var(--blue);
	}
}






/*--------Gradient Background--------*/
/*https://codepen.io/P1N2O/pen/pyBNzX*/

header {
    width: 100%;
    height: 100%;
	color: var(--white);
	/* background-image: radial-gradient(circle, var(--pink), var(--purple), var(--blue)); */
	background-size: 400% 400%;
    animation: Projects 30s infinite;

	/* animation: Gradient 15s ease infinite; */
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
