*{
    overflow-x: hidden;
    overflow-y: auto;
}

/* Overall  */

@media (min-width: 2500px){
    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 650px 50px 650px;
        
    } */
    
}


@media (min-width: 880px){
    .images img{
        width: 300px;
    }

    header {
        font-size: 18px;
    }

    .projectBlocksLeft{
        margin: 0px 10px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
        
    }
    
    .projectBlocksRight{
        margin: 0px 50px 25px 10px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksCenter{
        margin: 0px 65px 25px 65px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
        
    }

    



    .aboutBlock{
        margin: 0px 200px 85px 200px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }

    .resumeBlock{
        margin: 0px 200px 0px 200px;
        padding: 0px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }

    .contact{
        margin: 125px 20px 125px 0px;
        padding: 0px 50px 0px 50px;
        text-align: center;
    
    }
    
    .display-3{
        font-size: 10px;

    }

}

@media (max-width: 1000px){
    .images img{
        width: 150px;
    }

    .projectBlocksLeft{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksRight{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksCenter{
        margin: 0px 65px 25px 65px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
        
    }

    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 300px 100px 300px;
    } */
    .display-3{
        font-size: 10px;

    }
    
    
}

@media (max-width: 1350px){
    .images img{
        width: 225px;
    }
    header {
        font-size: 16px;
    }

    .projectBlocksLeft{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksRight{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksCenter{
        margin: 0px 65px 25px 65px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
        
    }

    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 300px 50px 300px;
        
    } */

    .display-3{
        font-size: 10px;

    }
}


@media (max-width: 1170px){
    .images img{
        width: 150px;
    }

    .projectBlocksLeft{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksRight{
        margin: 0px 50px 25px 50px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    
    .projectBlocksCenter{
        margin: 0px 65px 25px 65px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
        
    }

    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 250px 100px 250px;
    } */

    .aboutBlock{
        margin: 0px 25px 85px 25px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    .contact{
        margin: 125px 25px 125px 25px;
        text-align: center;
    
    }

    .display-3{
        font-size: 10px;

    }
    
    
    
}

@media (max-width: 885px){
    .images img{
        width: 125px;
    }
    .display-3{
        font-size: 10px;

    }
    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 200px 75px 200px;
    } */
    
}

@media (max-width: 769px){
    .images img{
        width: 150px;
    }
    header {
        font-size: 10px;
    }
    .display-3{
        font-size: 10px;

    }
    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 150px 100px 150px;
    } */
}

@media (max-width: 550px){
    .images img{
        width: 150px;
    }
    header {
        font-size: 10px;
    }
    .display-3{
        font-size: 10px;

    }
    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 125px 100px 125px;
    } */
}

@media (max-width: 450px){
    .images img{
        width: 150px;
    }
    header {
        font-size: 10px;
    }
    /* img.col-md-12.icon{
        width: 100%;
        padding: 50px 75px 100px 75px;
    } */
    .aboutBlock{
        margin: 0px 0px 85px 0px;
        padding: 20px 0px 0px 0px;
        background-color: #dbdbdb;
        /* box-shadow: 20px 20px 5px grey; */
        
    }
    .contact{
        /* margin: 125px 25px 125px 25px; */
        text-align: center;
    
    }
    .display-3{
        font-size: 10px;

    }
}

/* @media (min-width: 420px){
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
} */

.projectBlocksLeft, .projectBlocksRight, .projectBlocksCenter, .aboutBlock{
    box-shadow: 5px 5px 5px 0px black;

}

img.col-md-12.icon{
    width: 40%;
    padding: 50px 100px 65px 100px;
    
}

h1{
    margin: 20%;
    border: 20px solid white;
    padding: 5%;
    text-align: center;

}

.header{
    padding: 50px 50px 25px 50px;
    color: white;
    margin: 3%;
    /* border: 20px solid white; */
    /* padding: 50px 0px 0 0px; */
    text-align: center;
}

.form{
    text-align: center;
    margin-top: 20px;
}

h3.container-fluid{
    text-align: center;
    /* margin-top: 85px; */
    /* margin-bottom: 100px; */
    margin: 85px 0px 100px 0px;
    height: 35px;
}

h4.container-fluid{
    text-align: center;
    height: 35px;

}

h4.container-fluid{
    text-align: center;
    height: 35px;

}

header, .h3, .navBar{
    font-family: 'Poiret One', cursive;
}

h3.container-fluid, h4.container-fluid{
    font-family: 'Muli', cursive;
    

}

.pic:focus{
    outline: 0;
}

p{
    margin: 10px;
    font-family: 'Muli', sans-serif;
}

.gitText{
    text-align: center;
}

.bodyText{
    margin-top: 15px;
    padding: 10px 10px;
}

h5{
    margin: 10px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    text-align: center;


}

.headLinks a{
    color: white;
}

.headLinks:hover{
    background-color: #5e009e;
    transition: 1s;
}

.headLinks:hover a{
    background-color: #5e009e;
    transition: 1s;
    text-decoration: none;
    color: #7ccfff;
    transition: 0.5s;
}


.puzzle{
    display: inline;

}

.main{
    margin: 20px 0px;

}

.puzIMG{
    text-align: center;
}

.specialIMG img{
    margin: 20px;
    width: 150px;
    text-align: center;
}

.images img{
    margin: 20px;
    /* width: 150px; */
    
}

.images, .specialIMG{
    display: flex;
    justify-content: center;
    align-items: center;

}

.images, footer{
    text-align: center;

}

footer{
    margin-top: 50px;

}

.info{
    text-align: center;
}

.about{
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#submit{
    margin: 20px 0px;
}



.gradientBackground{
    /* position: absolute; */
    padding-top: 85px;
    background-image: linear-gradient(90deg, blue, blueviolet, rgb(126, 0, 175), blueviolet, blue);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    /* background-position: 100% 100%; */

} 

.projectsBackground{
    /* position: absolute; */
    padding-top: 85px;
    /* background-image: linear-gradient(90deg, blue, blueviolet, rgb(126, 0, 175), blueviolet, blue); */
    /* background-size: 400% 400%; */
    animation: Projects 30s  infinite;
    /* background-position: 100% 100%; */

} 

.audioBackground{
    /* position: absolute; */
    padding-top: 85px;
    /* background-image: linear-gradient(90deg, blue, blueviolet, rgb(126, 0, 175), blueviolet, blue); */
    /* background-size: 400% 400%; */
    animation: Projects 30s infinite;
    /* background-position: 100% 100%; */

} 

.aboutBackground{
    /* position: absolute; */
    padding-top: 85px;
    /* background-image: linear-gradient(90deg, blue, blueviolet, rgb(126, 0, 175), blueviolet, blue); */
    /* background-size: 400% 400%; */
    animation: Projects 30s infinite;
    /* background-position: 100% 100%; */

} 

@keyframes Projects {
	0% {
		background-color: blue;
	}
	25% {
        background-color: blueviolet;
    }    
	50% {
        background-color: rgb(126, 0, 175);
    }    
    75% {
        background-color: blueviolet;
    }
    100% {
        background-color: blue;
	}
}



/* --------GitHub Links--------*/

.github{
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid #5e009e;

}

.githubDouble{
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid #5e009e;
    display: block;
    padding: 0;
    margin: 0;
}

a.btn-block{
    padding: 20px;

}

.github:hover, .githubDouble:hover{
    background-color: #5e009e;
    transition: 1s;
    
}

.github:hover a, .githubDouble:hover a{
    text-decoration: none;
    word-wrap: none;
    color: #7ccfff;
    transition: 0.5s;

}

.github a, .githubDouble a{
    font-size: 1.5rem;

}


.box{
    position: absolute;
    width: 100%;
}

.animate{
    position: relative;
}

.resume{
    text-decoration: none;
    font-size: 24px;
    margin: 50px;
    padding-left: 0px;
    text-align: center;
    
}



div.container-fluid.resume{
    border-top: 1px solid #5e0093;
}

div.container-fluid.resume:hover{
    background-color: #5e009e;
    color: #7ccfff;    
    transition: 1s;
    text-decoration: none;

}

div.container-fluid.resume:hover a{
    color: #7ccfff;
}

div.container-fluid.resume > .insideResume:hover a{
    color: #7ccfff;    
    transition: 0.5s;
    text-decoration: none;
    

}

.rounded-circle{
    border: 10px solid #5e009e;
}



div.container-fluid.resume > a:hover{
    text-decoration: none;
    color: white;

}

div.container-fluid.resume:hover > a{
    color:white;

}

div.container.about > div.row{
    margin-bottom: 40px;
}

div.col.h3{
    padding: 0px;

}



/* ---------NAV--------- */
.col.h3 > a{
    color: white;
}

.col.h3 > a:hover{
    color: #7ccfff;
    cursor: pointer;
}

.col.h3 > a:visited{
    color: white;
}

.navBar{
    text-align: center;
    margin-bottom: 25px;
}



/*--------Gradient Background--------*/
/*https://codepen.io/P1N2O/pen/pyBNzX*/

header {
    width: 100%;
    height: 100%;
	color: #fff;
	background-image: radial-gradient(circle, purple, blueviolet, blue);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
